$white80: hsla(0,0%,100%, 0.8);
$white70: hsla(0,0%,100%, 0.7);
$white60: hsla(0,0%,100%, 0.6);
$white40: hsla(0,0%,100%, 0.4);
// gray
$gray98: hsl(0,0%,98%);
$gray95: hsl(0,0%,95%);
$gray90: hsl(0,0%,90%);
$gray85: hsl(0,0%,85%);
$gray80: hsl(0,0%,80%);
$gray70: hsl(0,0%,70%);
$gray60: hsl(0,0%,60%);
$gray50: hsl(0,0%,50%);
$gray30: hsl(0,0%,30%);
$gray25: hsl(0,0%,27%);
$gray20: hsl(0,0%,20%);
$gray15: hsl(0,0%,15%);
// primary
$primary: hsl(184, 54%, 57%);
$primary80: hsl(184, 45%, 80%);
$primary40: hsl(184, 54%, 40%);
$primary30: hsl(184, 100%, 30%);

$error: hsl(0, 85%, 60%);
$error95: hsl(0, 80%, 95%);
$error80: hsl(0, 80%, 80%);
$error30: hsl(0, 80%, 30%);
$smiley: hsl(50, 90%, 50%);
$smiley60: hsl(50, 80%, 60%);
$smiley70: hsl(50, 80%, 70%);
$smiley30: hsl(50, 80%, 30%);

$facebook: #3b5998;
$linkedin: #0077b5;
$youtube: #cc181e;
$email: #f2a60c;

@mixin transition{
  transition: all 0.1s ease-in-out;
}
@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadow{
  box-shadow: 0 0 3px $gray50;
}

@mixin no-highlight {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: pointer;
}

@mixin ellipsis{
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
@mixin no-scrollbar{
  &::-webkit-scrollbar{
    width: 0px;
  }
  &::-webkit-scrollbar-track-piece{
    background-color: transparent;
  }
}
@mixin noise {
  background-image: url(../images/whitenoise.png);
  background-size: 150px;
}
@mixin smoothNoise {
  background-image: url(../images/whitenoiseSmooth.png);
  background-size: 150px;
}
@mixin text-noise {
  @include noise;
  color: transparent;
  background-clip: text;
  background-size: 150px;
  text-fill-color: transparent;
}